In [5]:
import datetime as dt
import time
import os
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import numpy as np
import pandas as pd
from fredapi import Fred  # from https://github.com/mortada/fredapi 
import mkt_util as mu
%matplotlib inline

Predict future index level using the following indicators:
- historical prices
- yield curve spread 
- sector return spreads
- usd vs gold spread

In [15]:
# Get S&P index from alphavantage.co
ticker = '.SPX'
daily = mu.get_daily_prices(ticker)

In [13]:
daily.head()

,open,high,low,close,adjusted close,volume,dividend amount,split coeff
2018-10-10,2873.8999,2874.0200,2798.4199,2798.4199,2798.4199,2.129175e+09,0.0,1.0
2018-10-09,2882.5100,2894.8301,2874.2700,2880.3401,2880.3401,3.520500e+09,0.0,1.0
2018-10-08,2877.5300,2889.4500,2862.0801,2884.4299,2884.4299,3.330320e+09,0.0,1.0
2018-10-05,2902.5400,2909.6399,2869.2900,2885.5701,2885.5701,3.328980e+09,0.0,1.0
2018-10-04,2919.3501,2919.7800,2883.9199,2901.6101,2901.6101,3.496860e+09,0.0,1.0

In [6]:
# Get yield curve spread from FRED
fred = Fred(api_key_file='api_key.txt')
tr_data = fred.get_series('T10Y2Y')

In [8]:
tr_data.tail()

2018-10-01    0.27
2018-10-02    0.23
2018-10-03    0.30
2018-10-04    0.32
2018-10-05    0.35
dtype: float64

In [9]:
gold_data = fred.get_series('GOLDPMGBD228NLBM')
gold_data.tail()

2018-10-03    1201.20
2018-10-04    1203.45
2018-10-05    1203.80
2018-10-08    1186.95
2018-10-09    1185.55
dtype: float64

In [10]:
usfx_data = fred.get_series('DTWEXB')
usfx_data.tail()

2018-10-01    125.7557
2018-10-02    125.8272
2018-10-03    126.1101
2018-10-04    126.6825
2018-10-05    126.5657
dtype: float64

In [16]:
daily = daily.add(tr_data, axis='index')
daily.tail()

,open,high,low,close,adjusted close,volume,dividend amount,split coeff
2018-10-04,2919.6701,2920.1000,2884.2399,2901.9301,2901.9301,3.496860e+09,0.32,1.32
2018-10-05,2902.8900,2909.9899,2869.6400,2885.9201,2885.9201,3.328980e+09,0.35,1.35
2018-10-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df = pd.DataFrame('tr_data')
df.tail()

ValueError: DataFrame constructor not properly called!